In [1]:
import pandas as pd

data = pd.read_csv("Customers.csv")

In [2]:
#hiển thị số lượng dòng và cột của DataFrame hoặc Series, tên và kiểu dữ liệu của các cột, số lượng giá trị khác null
data.info()
#Phương thức này được sử dụng để tính toán một số thống kê mô tả bao gồm số lượng, trung bình, độ lệch chuẩn
data.describe()
#hiển thị 10 hàng đầu tiên trong DataFrame.
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              2000 non-null   int64
 1   Gender                  2000 non-null   object
 2   Age                     2000 non-null   int64
 3   Annual Income ($)       2000 non-null   int64
 4   Spending Score (1-100)  2000 non-null   int64
 5   Profession              1965 non-null   object
 6   Work Experience         2000 non-null   int64
 7   Family Size             2000 non-null   int64
dtypes: int64(6), object(2)
memory usage: 125.1+ KB

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [3]:
#sử dụng để lấy danh sách các giá trị duy nhất (unique) trong cột "Gender" của đối tượng DataFrame
unique_values_gender = data['Gender'].unique()
print(unique_values_gender)

['Male' 'Female']

In [4]:
from sklearn.preprocessing import LabelEncoder
# sử dụng để chuyển đổi các giá trị chuỗi (string) của cột "Gender"
le = LabelEncoder()
data['Gender'] = le.fit_transform(data['Gender'])
# hiển thị 10 dòng đầu tiên
data.head(10)

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,1,19,15000,39,Healthcare,1,4
1,2,1,21,35000,81,Engineer,3,3
2,3,0,20,86000,6,Engineer,1,1
3,4,0,23,59000,77,Lawyer,0,2
4,5,0,31,38000,40,Entertainment,2,6
5,6,0,22,58000,76,Artist,0,2
6,7,0,35,31000,6,Healthcare,1,3
7,8,0,23,84000,94,Healthcare,1,3
8,9,1,64,97000,3,Engineer,0,3
9,10,0,30,98000,72,Artist,1,4

In [5]:
#được sử dụng để điền giá trị trống (missing value) trong cột "Profession" thay bằng bằng giá trị chuỗi "No Profession"
data['Profession'].fillna('No Profession', inplace=True)
#trích xuất danh sách các giá trị duy nhất (unique values) trong cột "Profession" của đối tượng DataFrame "data".
unique_values_profession = data['Profession'].unique()
print(unique_values_profession)

['Healthcare' 'Engineer' 'Lawyer' 'Entertainment' 'Artist' 'Executive'
 'Doctor' 'Homemaker' 'Marketing' 'No Profession']

In [6]:
from sklearn.preprocessing import LabelEncoder
# tạo một đối tượng LabelEncoder mới được gán cho biến le.
le = LabelEncoder()
# sử dụng fit_transform() của LabelEncoder le để chuyển đổi giá trị chuỗi trong cột "Profession" thành các số nguyên. 
#Kết quả được gán lại cho cột "Profession"
data['Profession'] = le.fit_transform(data['Profession'])
data.head(10)

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,1,19,15000,39,5,1,4
1,2,1,21,35000,81,2,3,3
2,3,0,20,86000,6,2,1,1
3,4,0,23,59000,77,7,0,2
4,5,0,31,38000,40,3,2,6
5,6,0,22,58000,76,0,0,2
6,7,0,35,31000,6,5,1,3
7,8,0,23,84000,94,5,1,3
8,9,1,64,97000,3,2,0,3
9,10,0,30,98000,72,0,1,4

In [7]:
#trích xuất các giá trị duy nhất trong cột "Profession" gán cho unique_values_profession.
unique_values_profession = data['Profession'].unique()
print(unique_values_profession)
#lưu đối tượng DataFrame "data" sau khi tiền xử lý dữ liệu vào tệp "Customers_encode.csv".
data.to_csv("Customers_encode.csv", index=False)

[5 2 7 3 0 4 1 6 8 9]

In [8]:
#đọc đối tượng DataFrame đã được tiền xử lý dữ liệu từ tệp "Customers_encode.csv" và gán nó cho biến data_encode.
data_encode = pd.read_csv("Customers_encode.csv")
#info() để hiển thị thông tin về các cột và kiểu dữ liệu 
data_encode.info()
#describe() để hiển thị các thống kê mô tả về dữ liệu.
data_encode.describe()
#head() hiển thị 5 dòng đầu tiên của dữ liệu.
data_encode.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              2000 non-null   int64
 1   Gender                  2000 non-null   int64
 2   Age                     2000 non-null   int64
 3   Annual Income ($)       2000 non-null   int64
 4   Spending Score (1-100)  2000 non-null   int64
 5   Profession              2000 non-null   int64
 6   Work Experience         2000 non-null   int64
 7   Family Size             2000 non-null   int64
dtypes: int64(8)
memory usage: 125.1 KB

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,1,19,15000,39,5,1,4
1,2,1,21,35000,81,2,3,3
2,3,0,20,86000,6,2,1,1
3,4,0,23,59000,77,7,0,2
4,5,0,31,38000,40,3,2,6

In [12]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error, r2_score, confusion_matrix
import matplotlib.pyplot as plt
import numpy as np

datas = pd.read_csv("Customers_encode.csv")
# drop() để loại bỏ cột "Work Experience" 
# Trích xuất đặc trưng
X = datas.drop("Work Experience", axis=1)
y = datas["Work Experience"]

# Tách dữ liệu
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

[4.08590627 4.71157956 4.66391796 4.17478383 4.29436941 4.46522764
 3.54973609 3.38979163 4.40895551 4.19024852 4.60419836 4.23612501
 4.82258641 4.08628152 3.53680748 3.79895882 3.90978625 4.76549357
 4.16587877 4.43196352 3.32803135 5.09511429 4.1429358  3.87345534
 3.63780994 4.16205688 4.44954795 3.61376351 4.38791616 3.33290565
 4.32344458 4.42285553 4.25988514 4.41572967 3.73980425 3.59831811
 4.30165345 3.34765528 3.73302523 4.41969308 3.04662708 3.42226815
 4.47840336 4.22401135 4.64811238 4.51637084 4.03695758 4.47423046
 4.3082923  4.63436981 4.5322351  4.17671642 3.73241004 3.86874526
 4.02236958 3.97315837 3.93244538 4.35754231 4.27209616 4.41866542
 3.72555536 3.33249129 4.31353842 4.10890264 4.00317189 4.18930644
 4.07071388 3.82126094 4.5699493  4.63349274 4.60185722 4.39784289
 4.60412727 5.1100678  4.19302683 4.15842572 4.784789   4.05598652
 4.63286764 4.45808429 4.26927889 3.82418625 3.85366557 3.89223311
 4.01346495 4.54552102 3.61063345 3.40158653 3.20167834 3.11626187
 4.10776562 4.04925028 3.74029482 4.65960068 4.35902932 4.12088819
 4.05080058 4.07904603 3.96983568 3.38521272 4.72136679 3.26961465
 3.7538518  3.27729358 4.27395165 4.44761526 4.659327   4.16504714
 4.34136698 4.09305774 3.68597476 4.35054101 4.69334712 4.2632949
 3.69043228 4.30869536 3.58327335 4.06146041 4.64295584 4.02256001
 4.27781513 3.8761586  4.12413651 4.6907218  4.1183791  4.11945766
 4.03708361 4.61048265 4.62374996 4.23989411 4.45418806 4.22909429
 4.03340495 3.39823107 4.43397755 3.99640484 5.00050144 3.8585493
 4.30321096 3.25604706 3.68778705 4.20490308 4.78886302 4.01181596
 3.54392194 4.2553918  4.08537679 4.76712913 4.48462312 4.67305365
 3.76168659 3.74349876 4.1757276  4.68265529 3.29584327 4.8145741
 4.08555437 4.7177535  3.75651247 4.60512471 3.91621815 4.33162033
 4.57417037 4.0077398  3.74150962 4.55289456 3.15499679 3.98775141
 4.25400294 4.15256783 3.90634327 4.42526414 3.38433733 4.51810569
 3.88547114 3.90332842 4.43898266 4.41249558 3.74579334 4.01507584
 3.86124565 4.46647928 4.43735509 4.77823121 3.93897101 4.22148391
 4.17106813 4.19630591 3.31445871 4.02937974 4.0952099  4.17734023
 4.79370515 4.54639441 3.5280453  3.31816976 3.78764309 3.41798824
 4.44792061 3.60062052 3.49070516 4.21879907 4.52036963 4.05932711
 4.86886085 4.31457973 4.25537601 4.67621657 4.03950568 4.01630028
 4.15717724 4.45384249 3.63009431 3.89709755 4.17276096 3.84214068
 4.25251815 3.79466746 4.19524023 3.69556692 4.35307387 4.52255193
 4.06811471 3.59274415 4.2640836  3.21189064 3.57446607 4.83879038
 3.77321599 4.18166229 4.62094606 4.27089282 4.83535653 4.28887364
 3.63655306 4.18583435 4.38687947 4.19303371 3.75877657 4.89951594
 4.47651605 4.37476383 3.94982182 4.19114854 3.93629572 3.87179647
 4.38058285 4.50416751 4.68562188 4.09844337 4.21989778 3.6361214
 4.1778048  4.55086628 4.44621423 4.34635061 4.13006521 4.45210656
 4.26786582 3.70907659 4.8940161  4.78467283 3.74710587 4.71004291
 4.35549034 4.53515236 4.18359911 4.07236647 4.26756033 4.6983854
 4.02347303 4.55824913 4.40864516 4.2001514  4.22058192 3.66848949
 3.61129117 4.75354318 3.59788286 4.03834892 3.59003518 4.37172682
 4.0267913  4.51495359 4.08955427 4.31374134 4.33204399 3.39369884
 4.33033315 3.83892947 4.72822295 3.99703597 4.20833329 4.30178433
 4.4149439  3.56845244 4.52869595 3.61148934 3.91307365 3.6452481
 4.42201606 4.43570293 4.34475519 4.4436617  3.94567354 4.6045495
 4.72423643 3.97062501 4.11982058 4.5559876  4.07291557 3.27089226
 3.58327843 5.094628   4.33262224 3.54858966 4.06259049 4.20808083
 3.26694617 3.88810169 4.07565307 3.51287787 3.31345217 4.58411715
 4.69602736 4.50472748 3.99116355 4.5572638  3.46357454 4.15666914
 3.15527842 5.2616946  3.86315961 3.94316551 4.84325754 3.50256269
 4.6552885  4.03131968 3.82796291 3.64195989 4.49229702 4.10179315
 4.63274124 3.88899521 4.26122158 3.08301639 4.08645323 3.01991281
 4.0544664  3.81188659 4.29443802 3.98693607 4.21995006 4.09544631
 3.58169669 3.57336905 4.39840964 4.22905379 4.15016748 5.02296159
 3.30728115 4.38719657 4.3617834  4.70665403 4.59797256 3.29190819
 4.23831424 4.11485307 4.1846493  3.75846684 4.37575893 4.46412971
 4.02929818 3.65787754 4.51870433 3.33661252 4.20332055 4.18172498
 4.0637244  3.75929129 3.39991602 3.36666059 4.33263773 4.99583801
 3.1496158  4.55829527 4.34811625 3.64817409 4.6860787  4.10905243
 3.83479409 4.01421381 4.08668455 4.51681486 4.14474449 3.66356454
 4.15613102 4.01079748 4.43766954 4.28251105]

Mean squared error:  14.561645859642836

R2 score 0.012140220910760835

Confusion matrix for the Linear Regression Model:
[[ 0 85  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 90  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 12  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 10  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 26  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 23  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 31  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 30  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 33  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 32  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 11  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  2  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]]

<h1 style="color: black">Linear Regression Model</h1>

In [23]:
# Mô hình hồi quy tuyến tính
linearReg = LinearRegression()
linearReg.fit(X_train, y_train)

# Đưa ra dự đoán về dữ liệu thử nghiệm của Mô hình hồi quy tuyến tính
y_pred_linearReg = linearReg.predict(X_test)
print(y_pred_linearReg)
print()

# Độ chính xác của dữ liệu đối với Mô hình hồi quy tuyến tính
print('Mean squared error: ', mean_squared_error(y_test, y_pred_linearReg))
print()
print('R2 score', r2_score(y_test, y_pred_linearReg))
print()

# Confusion matrix to Linear Regression Model
y_pred_binary_linearReg = np.where(y_pred_linearReg > 0.5, 1, 0)
confusion_matrix_linearReg = confusion_matrix(y_test, y_pred_binary_linearReg)
print("Confusion matrix to Linear Regression Model: ")
print(confusion_matrix_linearReg)

[4.08590627 4.71157956 4.66391796 4.17478383 4.29436941 4.46522764
 3.54973609 3.38979163 4.40895551 4.19024852 4.60419836 4.23612501
 4.82258641 4.08628152 3.53680748 3.79895882 3.90978625 4.76549357
 4.16587877 4.43196352 3.32803135 5.09511429 4.1429358  3.87345534
 3.63780994 4.16205688 4.44954795 3.61376351 4.38791616 3.33290565
 4.32344458 4.42285553 4.25988514 4.41572967 3.73980425 3.59831811
 4.30165345 3.34765528 3.73302523 4.41969308 3.04662708 3.42226815
 4.47840336 4.22401135 4.64811238 4.51637084 4.03695758 4.47423046
 4.3082923  4.63436981 4.5322351  4.17671642 3.73241004 3.86874526
 4.02236958 3.97315837 3.93244538 4.35754231 4.27209616 4.41866542
 3.72555536 3.33249129 4.31353842 4.10890264 4.00317189 4.18930644
 4.07071388 3.82126094 4.5699493  4.63349274 4.60185722 4.39784289
 4.60412727 5.1100678  4.19302683 4.15842572 4.784789   4.05598652
 4.63286764 4.45808429 4.26927889 3.82418625 3.85366557 3.89223311
 4.01346495 4.54552102 3.61063345 3.40158653 3.20167834 3.11626187
 4.10776562 4.04925028 3.74029482 4.65960068 4.35902932 4.12088819
 4.05080058 4.07904603 3.96983568 3.38521272 4.72136679 3.26961465
 3.7538518  3.27729358 4.27395165 4.44761526 4.659327   4.16504714
 4.34136698 4.09305774 3.68597476 4.35054101 4.69334712 4.2632949
 3.69043228 4.30869536 3.58327335 4.06146041 4.64295584 4.02256001
 4.27781513 3.8761586  4.12413651 4.6907218  4.1183791  4.11945766
 4.03708361 4.61048265 4.62374996 4.23989411 4.45418806 4.22909429
 4.03340495 3.39823107 4.43397755 3.99640484 5.00050144 3.8585493
 4.30321096 3.25604706 3.68778705 4.20490308 4.78886302 4.01181596
 3.54392194 4.2553918  4.08537679 4.76712913 4.48462312 4.67305365
 3.76168659 3.74349876 4.1757276  4.68265529 3.29584327 4.8145741
 4.08555437 4.7177535  3.75651247 4.60512471 3.91621815 4.33162033
 4.57417037 4.0077398  3.74150962 4.55289456 3.15499679 3.98775141
 4.25400294 4.15256783 3.90634327 4.42526414 3.38433733 4.51810569
 3.88547114 3.90332842 4.43898266 4.41249558 3.74579334 4.01507584
 3.86124565 4.46647928 4.43735509 4.77823121 3.93897101 4.22148391
 4.17106813 4.19630591 3.31445871 4.02937974 4.0952099  4.17734023
 4.79370515 4.54639441 3.5280453  3.31816976 3.78764309 3.41798824
 4.44792061 3.60062052 3.49070516 4.21879907 4.52036963 4.05932711
 4.86886085 4.31457973 4.25537601 4.67621657 4.03950568 4.01630028
 4.15717724 4.45384249 3.63009431 3.89709755 4.17276096 3.84214068
 4.25251815 3.79466746 4.19524023 3.69556692 4.35307387 4.52255193
 4.06811471 3.59274415 4.2640836  3.21189064 3.57446607 4.83879038
 3.77321599 4.18166229 4.62094606 4.27089282 4.83535653 4.28887364
 3.63655306 4.18583435 4.38687947 4.19303371 3.75877657 4.89951594
 4.47651605 4.37476383 3.94982182 4.19114854 3.93629572 3.87179647
 4.38058285 4.50416751 4.68562188 4.09844337 4.21989778 3.6361214
 4.1778048  4.55086628 4.44621423 4.34635061 4.13006521 4.45210656
 4.26786582 3.70907659 4.8940161  4.78467283 3.74710587 4.71004291
 4.35549034 4.53515236 4.18359911 4.07236647 4.26756033 4.6983854
 4.02347303 4.55824913 4.40864516 4.2001514  4.22058192 3.66848949
 3.61129117 4.75354318 3.59788286 4.03834892 3.59003518 4.37172682
 4.0267913  4.51495359 4.08955427 4.31374134 4.33204399 3.39369884
 4.33033315 3.83892947 4.72822295 3.99703597 4.20833329 4.30178433
 4.4149439  3.56845244 4.52869595 3.61148934 3.91307365 3.6452481
 4.42201606 4.43570293 4.34475519 4.4436617  3.94567354 4.6045495
 4.72423643 3.97062501 4.11982058 4.5559876  4.07291557 3.27089226
 3.58327843 5.094628   4.33262224 3.54858966 4.06259049 4.20808083
 3.26694617 3.88810169 4.07565307 3.51287787 3.31345217 4.58411715
 4.69602736 4.50472748 3.99116355 4.5572638  3.46357454 4.15666914
 3.15527842 5.2616946  3.86315961 3.94316551 4.84325754 3.50256269
 4.6552885  4.03131968 3.82796291 3.64195989 4.49229702 4.10179315
 4.63274124 3.88899521 4.26122158 3.08301639 4.08645323 3.01991281
 4.0544664  3.81188659 4.29443802 3.98693607 4.21995006 4.09544631
 3.58169669 3.57336905 4.39840964 4.22905379 4.15016748 5.02296159
 3.30728115 4.38719657 4.3617834  4.70665403 4.59797256 3.29190819
 4.23831424 4.11485307 4.1846493  3.75846684 4.37575893 4.46412971
 4.02929818 3.65787754 4.51870433 3.33661252 4.20332055 4.18172498
 4.0637244  3.75929129 3.39991602 3.36666059 4.33263773 4.99583801
 3.1496158  4.55829527 4.34811625 3.64817409 4.6860787  4.10905243
 3.83479409 4.01421381 4.08668455 4.51681486 4.14474449 3.66356454
 4.15613102 4.01079748 4.43766954 4.28251105]

Mean squared error:  14.561645859642836

R2 score 0.012140220910760835

Confusion matrix to Linear Regression Model:
[[ 0 85  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 90  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 12  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 10  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 26  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 23  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 31  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 30  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 33  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 32  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 11  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  2  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]]

# Logistic Regression Model

In [24]:
# Mô hình hồi quy logictic (Logistic Regression) 
logisticReg = LogisticRegression()
logisticReg.fit(X_train, y_train)

# Đưa ra dự đoán về dữ liệu thử nghiệm của Mô hình hồi quy logistic
y_pred_logisticReg = logisticReg.predict(X_test)
print(y_pred_logisticReg)
print()

# Độ chính xác của dữ liệu đối với Mô hình hồi quy logistic
print("Accuracy to Logistic Regression Model: ", accuracy_score(y_test, y_pred_logisticReg))
print()

# Thống kê kết quả của mô hình Logistic Regression
confusion_matrix_logisticReg = confusion_matrix(y_test, y_pred_logisticReg)
print("Confusion matrix to Logistic Regression Model: ")
print(confusion_matrix_logisticReg)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 7 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 7 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 7 1 1 1 1 1 1 1 1
 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 7 1 1 1 1 1 1 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 7 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 7 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 7 1 7 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1
 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 7 1 1 1 1 1 1 1 1 1 0]

Accuracy to Logistic Regression Model:  0.215

Confusion matrix to Logistic Regression Model:
[[ 1 82  0  0  0  0  0  2  0  0  0  0  0  0  0  0  0]
 [ 6 84  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 1 10  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0]
 [ 0 10  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 3 22  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0]
 [ 2 20  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0]
 [ 2 28  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0]
 [ 2 27  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0]
 [ 2 31  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 3 29  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  9  0  0  0  0  0  2  0  0  0  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  2  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]]

D:\Users\duchuy\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# Decision Tree Model

In [25]:
# Mô hình cây quyết định
decisionTree = DecisionTreeClassifier()
decisionTree.fit(X_train, y_train)

# Đưa ra dự đoán về dữ liệu thử nghiệm của Mô hình cây quyết định
y_pred_decisionTree = decisionTree.predict(X_test)
print(y_pred_decisionTree)
print()

# Độ chính xác của dữ liệu đối với Mô hình cây quyết định
print("Accuracy to Decision Tree Model: ", accuracy_score(y_test, y_pred_decisionTree))
print()

# Thống kê kết quả Decision Tree Model
confusion_matrix_decisionTree = confusion_matrix(y_test, y_pred_decisionTree)
print("Confusion matrix to Decision Tree Model: ")
print(confusion_matrix_decisionTree)
#in cây quyết định

[ 1  1 11  2  0  2  8  7  2  0  8  4  0 12  7  4  2  1  0  9  0  9  6  0
  0  1  8 12  8  7 10  6  1  1  4  8  8  1  6  1  0  3  0  7  9  3  1  1
  1 10  6  0 11  8  1  1  0  9  0  4  1  7  2  1  1  0  8  4  0  0  8  0
  9  8  7  1  7  1  6  2  5  1  4  0  8  5  9  1  1  2  5  0 10  8  0  0
  3  4  1  0  1  9  1  1  1  7  8 10  4  9  1  0  5 10 15 13  0  5  1  1
  0  0  0 14  0  1  0  9  8  9  0  1  8  7  6  9  9  9  7  0  0 13  1  5
  4  1  9  5  1  0  1  5  9  9  8  1  0  6 13  0  1  9  1  1  0  9  5  8
  5  0  1  8  5  1  1  1  5  8  1  1  8  1  1  7  0  7 14  7  0  1  5  9
  9  1  3  0  3  8  9  2  4  0  9  1  5 12  4  9  8  0  1  0  7  3  8  7
  4  0  7  4  6  6  8  0  8  9  8  9  9  9  5  2  5  3  0  2  2  6  6  4
  4 13  1  8  0  1  9  1  9  0  8  8  1  1  9  1  1  0  7  0  1  0  4  1
  1  0  1  2  8  4 16  5  0  1  1  4  8  9  4  9  9  5  0  8  0  1  6  0
  3  1  5  2  5  4  9  8  0  7  8  2  0  1  9  7  8 10  8  0  0  4  1  4
  9  0  6  1  6 10  5  7  9  4  3  4  5  8 12  1  2  8  1  6  5  4  9  6
  1  0 15  4  5 11  1  8  9  2  1  1  5  4  0 12  5  3  1  1  0  8  2  0
  1 15  0  1  0  1  1  0  5  1  5  0  1 14  8  7  0  3  0  0  0  4  1  0
  0  8  9  1  6  5  7  7  0  5  9  0  1 13 14 10]

Accuracy to Decision Tree Model:  0.155

Confusion matrix to Decision Tree Model:
[[17 29  5  5  5  3  3  2  1 10  2  1  0  1  1  0  0]
 [24 19  8  1 10  3  3  3  4  8  0  0  3  2  1  1  0]
 [ 3  1  0  1  1  3  1  0  0  2  0  0  0  0  0  0  0]
 [ 2  1  2  1  0  1  1  1  1  0  0  0  0  0  0  0  0]
 [ 7  2  0  0  1  4  1  1  5  2  2  0  1  0  0  0  0]
 [ 2  2  0  1  3  4  1  3  0  4  2  0  0  0  1  0  0]
 [ 4  7  1  1  0  0  4  5  5  2  0  0  0  1  1  0  0]
 [ 3  5  0  0  2  4  1  4  5  3  1  0  0  0  0  2  0]
 [ 6  6  1  0  5  2  0  1  6  4  1  1  0  0  0  0  0]
 [ 5  7  0  1  0  3  1  1  8  5  0  0  0  0  0  0  1]
 [ 1  1  0  0  1  1  1  1  4  1  0  0  0  0  0  0  0]
 [ 0  2  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0]
 [ 0  2  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0]
 [ 0  0  0  0  0  2  0  0  1  0  0  0  0  0  0  0  0]
 [ 1  1  0  0  0  0  0  0  0  0  0  0  0  1  0  0  0]
 [ 0  1  0  0  0  0  0  1  1  0  0  0  0  0  0  0  0]
 [ 1  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0]]

# K-Nearest Neighbors Model

In [26]:
# Mô hình K-Nearest Neighbors 
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

# Đưa ra dự đoán về dữ liệu thử nghiệm của K-Nearest Neighbors Model
y_pred_knn = knn.predict(X_test)
print(y_pred_knn)
print()

# Đo độ chính xác của mô hình K-Nearest Neighbors Model
print("Accuracy to K-Nearest Neighbors Model: ", accuracy_score(y_test, y_pred_knn))
print()

# Thống kê kết quả của mô hình K-Nearest Neighbors
confusion_matrix_knn = confusion_matrix(y_test, y_pred_knn)
print("Confusion matrix to K-Nearest Neighbors Model: ")
print(confusion_matrix_knn)

[ 9  4  4  0  0  0  1  0  1  1  6  4  1  0  0  0  1  0  1  0  1  1  0  0
  1  1  0  0  1  0  1  0  0  1  7  0  0  0  1  1  0  8  0  0  1  1  0  5
  5  6  9  1  0  1  0  1  1  0  0  1  0  0  1  1  0  1  1  1  0  1  1  0
  0  6  1  1  0  1  2  0  0  1  1  1  6  0  1  0  0  1  1  0  1  8  5  0
  0  0  0  0  9  9  0  0  1  0  9 10  0  1  1  0  1  9  0  0  0  8  1  1
  0  0  0  1  1  0  1  1  0  0  0  1  1  0  1  1  1  1  8  0  1  8  0  0
  0  0  0  1  1  1  1  0  0  0  1  1  0  1  1  1  1  0  0  0  0  1  1  0
  0  9  0  0  1  0  1  0  0  0  1  1  5  0  1  0  1  1  0  0  1  1  1  0
  1  1  2  1  0  1  0  8  0  0  1  1  4  0  1  0  0  1  9  0  0  1  9  1
  0  1  0  0  0  1  0  1  1  0  1  1  0  9  0  0  4  8  0  1  0  1  0  0
  1  0  8  1  2  1  1  1  0  0  1  1  9  0  9  1  0  1  0  4  1  0  1  1
  9  1  1  1  0  1  1  1  0  9  1  1  0  1  0  1  0  0  0  0  0  0  0  0
  1  1  0  0  5  0  9  0  0  0  1  1  1 10  0  0  1  0  1  0  0  1  1  1
  1  6  0  0  0  0  1  0  0  8  0  8  1  0  1  0  0  1  1  8  1  0  1  1
  0  3  2  0  0  1  9  0  5  1  0  1  0  0  0  0  0  1  1  0 14  1  0  1
  0  0  0  6  1  1  0  1  0  1  1  0  0  1  5  4  4  1  4  9  1  0  1  1
  0  0  0  0  7  1  1  0  0  1  7  1  1  1  4  7]

Accuracy to K-Nearest Neighbors Model:  0.1725

Confusion matrix to K-Nearest Neighbors Model:
[[28 45  1  0  1  0  1  0  4  3  2  0  0  0  0  0  0]
 [44 38  0  1  1  0  1  1  3  1  0  0  0  0  0  0  0]
 [ 5  4  1  0  0  1  0  0  0  1  0  0  0  0  0  0  0]
 [ 5  4  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0]
 [12  7  0  0  1  2  1  0  0  2  0  0  0  0  1  0  0]
 [11  9  1  0  0  0  0  1  0  1  0  0  0  0  0  0  0]
 [10  9  0  0  3  1  1  0  3  4  0  0  0  0  0  0  0]
 [15 10  1  0  0  0  2  0  0  2  0  0  0  0  0  0  0]
 [15 14  0  0  3  0  0  0  0  1  0  0  0  0  0  0  0]
 [16 12  0  0  1  3  0  0  0  0  0  0  0  0  0  0  0]
 [ 5  4  0  0  0  0  0  1  1  0  0  0  0  0  0  0  0]
 [ 2  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0]
 [ 2  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0]
 [ 2  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 2  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 2  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 1  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]]

FileNotFoundError: [Errno 2] No such file or directory: 'Large_Dataset.csv'